# Node.js dependencies
backend/node_modules
frontend/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing
coverage
*.lcov

# Build output
frontend/dist
backend/outputs
backend/codes

# Environment variables
.env
frontend/.env
backend/.env

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Mac system files
.DS_Store

# Optional: OS or editor specific
*.cache